#fullpage {
    height: 100vh;
    color: white;
    /* background-color: #daecf3; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)), url("../images/main.jpg");
    background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
}

#saying {
    padding-top: 150px;
}